
@import './base/_base_function.scss';
@import './base/_base_constants.scss';
@import './base/_base_mixin.scss';

/*-------------------------------   Button   -------------------------------*/

@include comp(eu-button){
  $_space:getSpace($height-button,0,$line-height-normal);

  @include main{
      @include shape(null $width-button,$height-button,$radius);
      @include space(padding,$_space $padding $_space $padding);
      @include space(margin,(-$_space) null (-$_space) null);
      @include font($font-size-normal,$line-height-normal,$color-white);
      @include transition(box-shadow);
      @include prefixer(user-select,none,$prefix);

      display: block;
      cursor:pointer;
      border: none;
      text-align: center;
      background-color:$color-primary;
      box-shadow: 0px -1px 0px $color-primary-darker inset;
      position: relative;
  }

  @include state-hover{
      background-color: $color-primary-light;
  }

  @include state-active{
      padding-bottom: 2px;
      background-color: $color-primary;
      box-shadow: 1px 1px 0px $color-primary-darker inset;
  }

  &::before{
      @include transition(color);
  }

  span{
      display: inline;
  }

  .eu-icon:not(:only-child){
      margin-right: .5em;
  }
}